<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div>
        <div class="login-box">
            <h2>Login </h2>
            <a href="/facebook" class="social-button" id="facebook-connect"> <span>Connect with Facebook</span></a>
            <a href="#" class="social-button" id="linkedin-connect"> <span>Connect with LinkedIn</span></a>
        </div>
    </div>

</body>

</html>